{% extends "base-sidebar.html" %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function() {

        $('#severity_level').change(function() {
            $('#all')[0].checked = false;
            $('#specific')[0].checked = true;
        });

        $('#select_all').change(function() {
            trs = $('.zebra-striped').find("tr")

            for (i = 0;i<=trs.length;i++)
            {
                if (trs[i] != undefined)
                {
                    cb = $($(trs[i]).find('td')[0]).find('input')[0]
                    if (cb != undefined)
                    {
                        cb.checked = this.checked;
                    }
                }
            }

            toggleArchiveButton();
        });

        $('.cbException').change(function() {
            toggleArchiveButton();
        });

        $('#archiveAllBtn').click(function() {
            
            {% if total_count == 0 %}
                return false;
            {% else %}
                c = confirm('Are you certain you wish to archive all messages from this {{ application_name }} application?');
                if (!c)
                {
                    return false;
                }
                
                $('#archive_all').val('True');

            {% end %}
        });

    });

    function toggleArchiveButton(){
        
        if ($('#archiveBtn')[0].className.indexOf('disabled') == -1)
        {
            $('#archiveBtn')[0].className = $('#archiveBtn')[0].className + 'disabled'
        }

        trs = $('.zebra-striped').find("tr")

        for (i = 0;i<=trs.length;i++)
        {
            if (trs[i] != undefined)
            {
                cb = $($(trs[i]).find('td')[0]).find('input')[0]
                if (cb != undefined) {
                    if (cb.checked)
                    {
                        $('#archiveBtn')[0].className = $('#archiveBtn')[0].className.replace('disabled', '');
                        return
                    }
                }
            }
        }

        $('#select_all')[0].checked = false;
    }


    

</script>
    
{% end %}

{% block sideBar %}
    {% include "sidebar.html" %}
{% end %}

{% block mainContent %}
<form action="/dashboard/{{ app_name }}" method="get">

<div class="span16 columns" style="background-color: #f5f5f5; padding: 5px 10px 5px 10px">
        <input type="radio" name="log_choice" id="all" value="all" {% if log_choice == 'all' %}checked="checked"{% end %} /> All Requests
        &nbsp;&nbsp;
        <input type="radio" name="log_choice" id="specific" value="specific" {% if not log_choice or log_choice == 'specific' %}checked=checked{% end %} /> Logs with this specific severity level
        <select name="severity_level" id="severity_level" class="medium">
            <option value="3" {% if severity == 3 %}selected="selected"{% end %}>Debug</option>
            <option value="2" {% if severity == 2 %}selected="selected"{% end %}>Info</option>
            <option value="1" {% if severity == 1 %}selected="selected"{% end %}>Error</option>
            <option value="0" {% if severity == 0 %}selected="selected"{% end %}>Critical</option>
        </select>
        &nbsp;
        &nbsp;
        <button type="submit" class="btn">Refresh Log</button>
        <input type="hidden" name="archive_all" id="archive_all" value="False" />
</div>


{% include "paging.html" %}
<table class="zebra-striped">
    <thead>
        <tr>
        <th style="width: 1%"><input type="checkbox" id="select_all" /></th>
        <th>Last Seen On</th>
        <th>&nbsp;</th>
        <th>Message</th>
        <th>File</th>
        <th>Severity</th>
        <th style="text-align: right;">Count</th>
        </tr>
    </thead>
    <tbody>
        {% if total_count == 0 %}
            <tr>
                <td colspan="6" style="text-align: center; padding: 20px;">
                    <strong>No log entries found.</strong>
                </td>
            </tr>
        {% end %}
        {% for exception in exceptions %}
            <tr>
                <td>
                    {% if not exception['status'] %}
                    <input type="checkbox" class="cbException" name="exception" value="{{ exception['_id'] }}" />
                    {% end %}
                </td>
                <td>{{ pretty_date(exception['last_seen_on']) }}</td>
                <td>
                    {% if "lighthouse_url" in exception and exception['lighthouse_url'] %}
                        <a href="{{ exception['lighthouse_url'] }}" target="_blank">
                            <img src="/images/lighthouse.jpeg" border="0" />
                        </a>
                    {% end %}
                </td>

                <td><a href="/{{ app_name }}/details/{{ exception['_id'] }}">
                        {% if len(exception['message'].strip()) == 0 %}
                            .:: NO MESSAGE ::.
                        {% else %}
                            {{ exception['message'] }}
                        {% end %}
                    </a>
                </td>
                <td>{{ exception['filename'] }}</td>
                <td>{{ get_severity_string(exception['severity']) }}</td>
                <td style="text-align: right;">{{ exception['count'] }}</td>
            </tr>
        {% end %}
    </tbody>
</table>

<div style="padding: 18px 0px 23px 0px; float: left;">
    <input type="submit" class="btn primary disabled" value="Archive" id="archiveBtn" />
    <input type="submit" class="btn primary{% if total_count == 0 %} disabled{% end %}" value="Archive All" id="archiveAllBtn" />
</div>
</form>

{% include "paging.html" %}

{% end %}
