<h3>Applications</h3>

<table>
    {% if applications.count() == 0 %}
        <tr>
            <td>No Applications Yet</td>
        </tr>
    {% else %}
        {% for application in applications %}
        <tr>
            <td><a href="/dashboard/{{ application['url_name'] }}" {% if current_application == str(application['_id']) %}class="selected"{% end %}>{{ application['application'] }} ({{ application['count'] }})</a></td>
        </tr>
        {% end %}
    {% end %}
</table>
<div style="text-align: center;">
    <h3>Your API Key:</h3>
    <strong>{{ user['_id'] }}</strong>
</div>

<div style="padding: 30px 0 0 0; text-align: center;">
    <input type="button" class="btn primary" value="Configure Application" id="configureBtn" />
</div>

