<h3>Applications</h3>

<table>
    {% if applications.count() == 0 %}
        <tr>
            <td>No Applications Yet</td>
        </tr>
    {% else %}
        {% for app in applications %}
        <tr>
            <td><a href="/dashboard?app={{ app['_id'] }}" {% if current_application == str(app['_id']) %}class="selected"{% end %}>{{ app['application'] }} ({{ app['count'] }})</a></td>
        </tr>
        {% end %}
    {% end %}
</table>
<h3>Your API Key:</h3>
<strong>{{ user['_id'] }}</strong>
