<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">OnErrorLog</a></h3>
            <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href=/content">Contact</a></li>
                <li><a href=/docs">Documentation</a></li>
                <li><a href="#">Source</a></li>
                {% if user %}
                <li><a href="/logout" style="color: orange;">Logout</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</div>

